body {
  background-color: #E1F2EA;
}

h1 {
  text-align: center;
}

#meny {
  background-color: #10B7FE;
  width: 60pt;
  height: 30pt;
  border: 3px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  top: 5%;
}

#meny:hover {
  transform: scale(1.2);
}

#quiz-container {
  position: relative;
}




#quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bild-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}

#bild {
  width: 200px;
  height: 200px;
}

#alternativ {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.alternativ {
  background-color: #10B7FE;
  width: 400pt;
  height: 60pt;
  border: 3px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
}

.alternativ:hover {
  transform: scale(1.1);
}


.wrong {
  background-color: red;
  color: black;
}

.correct {
  background-color: green;
  color: black;
}



#fragorna {
  background-color: #10B7FE;
  width: 60pt;
  height: 60pt;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  color: black;
  position: absolute;
  left: 90%;
  top: 5%;
}

.refresh-symbol {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.refresh-symbol span {
  font-size: 150px;
}




